
.section {
	background: url(../img/backGround.jpg) no-repeat;
}

/* 第一页 */
/* 头部 */
.one header {
	background-color: rgba(0, 0, 0, 0.6);
	height: 80px;
}

.one header .header-l li {
	float: left;
	margin-left:40px; 
	width: 70px;
	height: 80px;
	text-align: center;
}

.one header .header-l li img {
	margin-top: 5px;
	border-radius: 50%;
	height: 70px;
	width: 70px;
}

.one header .header-l li span {
	display: block;
	margin-top: 10px;
}

.one header .header-r {
	line-height: 80px;	
	margin-right: 50px;
}

.one header .header-r li {
	float: left;
	font-size: 16px;
} 

.one header .header-r li a {
	display: block;
	margin-left: 30px;
} 
/* 内容 */
.one section {
	text-align: center;
}

.one section img {
	display: block;
	margin: 40px auto;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.one section span {
	color: #000;
	font-size: 16px;
	font-weight: 700;
}

.one section hr {
	background-color: #000;
	width: 600px;
}

.one section p {
	font-weight: 700;
	margin-top: 25px;
	color: #000;
	font-size: 16px;
}