

.section {
	background: url(../img/backGround.jpg) no-repeat;
}

/* 第一页 */
/* 头部 */
header {
	background-color: rgba(0, 0, 0, 0.6);
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

header .header-l li {
	float: left;
	margin-left:40px; 
	width: 70px;
	height: 60px;
	text-align: center;
}

header .header-l li img {
	margin-top: 2px;
	border-radius: 50%;
	height: 55px;
	width: 55px;
}

header .header-l li span {
	display: block;
	color: #ccc;
	margin-top: 3px;
}

header .header-r {
	line-height: 60px;	
	margin-right: 50px;
}

header .header-r li {
	float: left;
	font-size: 16px;
} 

header .header-r li a {
	display: block;
	margin-left: 30px;
} 
/* 内容 */
.one section {
	text-align: center;
}

.one section img {
	display: block;
	margin: 40px auto;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.one section span {
	color: #000;
	font-size: 16px;
}

.one section hr {
	background-color: #000;
	width: 600px;
}

.one section p {
	font-weight: 700;
	margin-top: 25px;
	color: #000;
	font-size: 16px;
}

/* 第二页 */
.two {

}

.two section {
	margin: auto;
	width: 800px;
	height: 200px;
	border: 1px solid #000;
	text-align: center;
}

.two .about {
	margin-top: 50px;
}
